* {
    margin: 0;
    padding: 0;
}

/* Hero section */

.hero-section {
    background-image: url("./images/3392\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    height: 45vh;
    position: relative;
}

.hero-section-overlay {
    background-color: rgba(0, 0, 0, 0.63);
}

.hs-text {
    position: absolute;
    top: 225px;
}

.ph1 {
    font-family: "Playball";
    font-size: 35px;
    color: #BF8B1A;
}

.ph2 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    margin-top: 0px;
}

/* Navbar section */

.navbar {
    /* position: absolute; */
    top: 40px;
    /* left: 0; */
    width: 100%;
    /* z-index: 3; */
    background-color: rgba(0, 0, 0, 0.41)
}

.fakeb {
    padding: 15px 20px;
    background-color: #000000;
}

.Title1 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}

.Title2 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
}

.l1,.l2,.l3,.l4,.l5,.l6,.l7 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

/* Body1 section */

.body1 {
    margin-top: 100px;
    height: 451px;
    position: relative;
}

.body1img {
    left: 368px;
    position: absolute;

}

.body-card {
    border-color: #8D5748 !important;
    padding: 40px 50px;
    width: 604px;
    /* height: 265px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 110px;
    left:928px;
    box-shadow: 4px 4px 95px rgba(0, 0, 0, 0.22);
    position: absolute;
}

.body-card1 {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.bodyp1 {
    font-family: "Playball";
    font-size: 24px;
    color: #BF8B1A;
}

.bodyp2 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: #000000
}

.bodyp3 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000000
}
