* {
    margin: 0;
    padding: 0;
}

/* Hero section */

.hero-section {
    background-image: url("./images/3392\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    height: 45vh;
    position: relative;
}

.hero-section-overlay {
    background-color: rgba(0, 0, 0, 0.63);
}

.hs-text {
    position: absolute;
    top: 225px;
}

.ph1 {
    font-family: "Playball";
    font-size: 35px;
    color: #BF8B1A;
}

.ph2 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    margin-top: 0px;
}

/* Navbar section */

.navbar {
    /* position: absolute; */
    top: 40px;
    /* left: 0; */
    width: 100%;
    /* z-index: 3; */
    background-color: rgba(0, 0, 0, 0.41)
}

.fakeb {
    padding: 15px 20px;
    background-color: #000000;
}

.Title1 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}

.Title2 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
}

.l1,.l2,.l3,.l4,.l5,.l6,.l7 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}